@import url("https://fonts.googleapis.com/css?family=Inter:400,500,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Scroll */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

header {
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  border-bottom: 5px solid #0059ff;
}

header h1 {
  font-weight: 500;
  color: #0059ff;
}

header p {
  color: #3d3d3d;
}

.form {
  margin-top: 2em;
  max-width: 500px;
  display: flex;
  width: 100%;
}

.form input {
  padding: 1em;
  font-size: 1rem;
  outline: 0;
  border: 0;
  background: #dbdbdb;
  width: 100%;
}

.form button {
  padding: 1em;
  font-size: 1rem;
  font-weight: 700;
  background-color: #0059ff;
  border: 0;
  color: white;
  cursor: pointer;
}

.results {
  max-width: 700px;
  width: 90%;
  height: 400px;
  margin: 1em auto;
  overflow-y: scroll;
}

.result-counter {
  font-weight: 700;
}

.results .universities {
  margin: 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.universities li {
  background-color: #dbdbdb;
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: space-between;
  padding-right: 2em;
}

.universities li a {
  height: 100%;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #232323;
  font-weight: 500;
  font-size: 1.2em;
  transition: 0.3s;
}

.universities li a:hover {
  color: #0059ff;
}

@media screen and (max-width: 480px) {
  header {
    align-items: start;
  }

  h1 {
    font-size: 1.3em;
  }

  p {
    font-size: 0.9em;
  }

  .universities li {
    padding-right: 1em;
  }

  .universities li span {
    font-size: 0.7em;
  }

  .universities li a {
    font-size: 0.9em;
    padding-left: 1em;
  }
}
