/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Input */
.user-input {
  margin: auto;
  max-width: 500px;
  width: 90%;
  background-color: #dfdfdf;
  padding: 2em 3em;
  border-radius: 0.5em;
}

.user-input h3 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.user-input input {
  width: 100%;
  padding: 1em;
  border: 0;
  border-radius: 0.5em 0 0 0.5em;
  outline: 0;
  font-size: 1rem;
}

.user-input #find-btn {
  padding: 1em;
  border: 0;
  border-radius: 0 0.5em 0.5em 0;
  cursor: pointer;
  background-color: #000000;
  color: #fff;
  transition: 0.3s;
}

#user-input #find-btn:hover {
  opacity: 0.8;
}

/* Layout */
.github-user-card {
  max-width: 350px;
  height: 100vh;
  max-height: 500px;
  overflow: hidden;
  width: 100%;
  margin: auto;
  padding: 1em;
  border-radius: 0.3em;
  border: 1px solid #eee;
  box-shadow: 0 0 90px #cfcfcfc9;
  display: none;
}

.github-user-card__username {
  color: #505050;
  font-size: 0.8rem;
}

.flex {
  display: flex;
}

/* Header */
.github-user-card__header {
  margin-top: 0.7em;
  align-items: center;
  gap: 1.5em;
}

.github-user-card__header img {
  width: 70px;
  height: 70px;
  border: 1px solid #b1b1b1c9;
  padding: 0.2em;
  border-radius: 50%;
}

.header-content {
  gap: 1em;
}

.header-content__text h3 {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1;
  color: #1a1a1a;
}

.header-content__text span {
  font-size: 0.8rem;
  color: #505050;
}

/* Body */
.github-user-card__body {
  margin-top: 1em;
}

.user-name {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #1a1a1a;
}

.user-bio {
  margin-top: 0.3em;
  color: #505050;
  font-size: 0.9rem;
  margin-bottom: 1em;
}

.user-location,
.user-stars {
  font-size: 0.9rem;
  color: #505050;
}

/* Repositories */
.github-user-card__repos {
  border-top: 1px solid #cfcfcfc9;
  margin-top: 1em;
  padding-top: 1em;
}

.github-user-card__repos h2 {
  font-size: 1rem;
  color: #1a1a1a;
}

.github-user-card__repos ul {
  overflow-y: scroll;
  height: 170px;
  margin-top: 1em;
}

.github-user-card__repos ul li {
  background-color: #ececec;
  border-radius: 0.5em;
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.github-user-card__repos ul li span {
  font-size: 0.8rem;
  color: #505050;
}

.github-user-card__repos ul li a {
  padding: 1em;
  text-decoration: none;
  font-weight: 500;
  color: #505050;
  transition: 0.3s;
}

.github-user-card__repos ul li a:hover {
  transform: translateX(5px);
}
