@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.main {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header img {
  margin-bottom: 1.5em;
}

.header form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 1.5em;
}

.header input,
.header select {
  padding: 0.7em;
  border-radius: 0.25em;
  border: 1px solid #ccc;
  outline: none;
}

.header input {
  max-width: 600px;
  width: calc(75vw - 4em);
}

/* Pokemon Container */
.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.pokemon {
  border: 1px solid #ccc;
  background: linear-gradient(
    #f7f7f7 0%,
    #f7f7f7 50%,
    #e1e1e1 50%,
    #e1e1e1 100%
  );
  border-radius: 0.5em;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon img {
  width: 100px;
  height: 100px;
}

.pokemon h2 {
  text-transform: capitalize;
  font-size: 1em;
}
